#card-container{
    height: 100px;
    background-color: #F3F4F6;
    width: 330px;
    height: fit-content;
    min-height: 460px;
    border-radius: 17px;
    box-shadow: 0px 2px 17px #f3f4f659;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px ;

    #icon{
        height: 66px;
        img{
            height: 100%;
        }
        
    }

    #card-text{
        font-weight: 200;
        color: #5A5E66;
        flex-grow: 2;
        height:250px;
        overflow: scroll;
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
    }

}