#Button{
    font-family: 'ubuntu';
    background-color: #4d3adaff;
    color: white;
    padding: 15px 35px ;
    border-radius:10px ;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 0.3s;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 15px #4D3ADA;
    }
}
