#Header-1{
    background-color: #131415;
    box-shadow: 0px 5px 10px #131415;
    height: clamp(50px,8vh,90px);
    display: flex;
    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
        #padding-1{
            border: none;
            width:clamp(20px,50vw,1200px) ;
        }
        
    }
    position: sticky;
    top: 0;
}
#logo{
    
    display: flex;
    gap: clamp(10px,2vw,30px);
    
    justify-content: center;
    align-items: center;
    
    #logo-img{
        color: red;
        background-color: white;
        overflow: hidden;
        border: 1px solid blue;
        border-radius: 100%;
        width: 50px;
        img{
            width: 100%;
            
        }
    }
    #logo-text{
        color: #4d3adaff;
        font-weight: bolder;
        font-size: 1.5rem;
    }
}
